.comment {
  transform: translateY(1px);
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    padding: 0;
    color: var(--from-black-to-white);
  }

  svg {
    filter: invert(var(--svg-invert));
  }
}