.mainContainer {
  .bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    .create {
      filter: invert(var(--svg-invert));
    }

    h2 {
      @extend %h2;
    }
  }

  h2 {
    @extend %h2;
    text-align: center;
  }

  .postList {
    @extend %posts-list;
  }
}
